@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'josefin';
	src: url('./JosefinSans-VariableFont_wght.ttf');
}

.toggle input[type=checkbox] {
	display: none;
}

.toggle label {
	background-color: #fa9de1;
	border: 2px solid #555;
	border-radius: 30px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 60px;
	height: 30px;
}

.toggle label::after {
	background-color: #b21b89;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 22px;
	height: 22px;
}

.toggle input[type=checkbox]:checked ~ label {
	border-color: #006dc9;
	background-color: #b21b89;
}

.toggle input[type=checkbox]:checked ~ label::after {
	background-color: #fa9de1;
	transform: translateX(30px);
}
